## list

- list is nothing but collection of different types of data like array in c language
- list represented by [] braces
- list is a mutable datatype

In [1]:
l=[]
type(l),l

(list, [])

In [2]:
l = [1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

### indexing in list

In [3]:
l[0]

1

In [4]:
l[-1]

[1, 2, 3]

In [5]:
l[-2]

True

In [6]:
l[10]

IndexError: list index out of range

In [ ]:
l[-1][1]

### slicing

In [7]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [8]:
l[2:4]

['hello', 3.4]

In [9]:
l[::-1]

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [10]:
l[-2:]

[True, [1, 2, 3]]

In [11]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [12]:
l[-1][::-1]

[3, 2, 1]

In [13]:
l[::2]

[1, 'hello', True]

In [14]:
l[0]=10
l

[10, 2, 'hello', 3.4, True, [1, 2, 3]]

In [15]:
l = [1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [16]:
del l[0]
l

[2, 'hello', 3.4, True, [1, 2, 3]]

In [17]:
len(l)

5

In [18]:
marks = [6,4,8,3,2]
min(marks)

2

In [19]:
marks = [6,4,8,3,2]
max(marks)

8

In [20]:
marks = [6,4,8,3,2]
sum(marks)

23

In [21]:
sorted(marks)

[2, 3, 4, 6, 8]

In [22]:
sorted(marks,reverse = True)

[8, 6, 4, 3, 2]

In [23]:
sum(marks)//len(marks)

4

In [24]:
marks+[10,20]

[6, 4, 8, 3, 2, 10, 20]

In [25]:
marks

[6, 4, 8, 3, 2]

In [26]:
marks*2

[6, 4, 8, 3, 2, 6, 4, 8, 3, 2]

### list methods

In [27]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [28]:
marks.append(10)

In [29]:
marks

[6, 4, 8, 3, 2, 10]

In [30]:
marks.extend([20,30])

In [31]:
marks

[6, 4, 8, 3, 2, 10, 20, 30]

In [32]:
marks.pop()

30

In [33]:
marks

[6, 4, 8, 3, 2, 10, 20]

In [34]:
marks.pop(0)

6

In [35]:
marks

[4, 8, 3, 2, 10, 20]

In [36]:
marks.insert(0,10)

In [37]:
marks

[10, 4, 8, 3, 2, 10, 20]

In [38]:
marks.index(8)

2

In [39]:
marks.index('x')

ValueError: 'x' is not in list

In [40]:
marks.reverse()

In [41]:
marks

[20, 10, 2, 3, 8, 4, 10]

In [42]:
marks.sort()
marks

[2, 3, 4, 8, 10, 10, 20]

In [43]:
marks.count(10)

2

In [44]:
marks.count(-1)

0

In [45]:
marks2=marks.copy()
marks2,marks

([2, 3, 4, 8, 10, 10, 20], [2, 3, 4, 8, 10, 10, 20])

In [46]:
marks2.clear()
marks2,marks

([], [2, 3, 4, 8, 10, 10, 20])

In [47]:
for item in marks:
    print(item)

2
3
4
8
10
10
20

In [48]:
marks

[2, 3, 4, 8, 10, 10, 20]

In [49]:
index = 0
while index<len(marks):
    print(marks[index])
    index +=1

2
3
4
8
10
10
20

In [50]:
marks

[2, 3, 4, 8, 10, 10, 20]

In [51]:
index = 0
s = 0
while index<len(marks):
     s = s+index
     index +=1
     print(s)

0
1
3
6
10
15
21

In [52]:
### 1.print the names which names end with 'u' character
### sample output:raghu balu
names= "mahesh ravi raghu krish balu"
names_list = names.split(" ")
for name in names_list:
    if name.endswith('u'):
        print(name,end=" ")

raghu balu

In [29]:
### 2.print the names which length has maximum
### sample output:mahesh
names= "mahesh ravi raghu krish balu"
names_list = names.split(" ")
max=""
for name  in names_list:
    if len(name)>len(max):
        max=name
        print(max)

mahesh

In [15]:
### 3.print the names which ends with ovels(a e i o u)
### sample output:mahesh
names= "mahesh ravi raghu krish balu"
names_list = names.split(" ")
for name in names_list:
    if name.endswith('a' or 'e' or 'i' or 'o' or 'u'):
        print(name,end=" ")

In [1]:
str = input("enter string:")
if (str==str[::-1]):
    print("str is palindrome")
else:
    print("str is not palindrome")

enter string:aswini
str is not palindrome

In [2]:
# 5. toggle string :you have been given a string s 
# consisting of uppercase and lowercase to change he case of each alphabet in this string

In [4]:
n = input()
l = len()
for i in range (0,1):
if(ord(n[i])>=65 and ord(n[i])<=90):
    print(char(ord(n[i])+32),end=" ")
    else:
         print(char(ord(n[i])-32),end=" ")

IndentationError: expected an indented block (<ipython-input-4-ad5d6d3ce010>, line 4)


## tuple

- tuple is a immutable data type in python 
- it is also like list but it can`t change once created
- it is represented by ((paranthesis )symbol)

In [56]:
t = tuple()
t

()

In [57]:
ages = (20,21,40)
ages,type(ages)

((20, 21, 40), tuple)

#### indexing touple

In [58]:
ages[-1]

40

#### slicing in tuples

In [59]:
len(ages)

3

In [60]:
min(ages)

20

In [61]:
max(ages)

40

In [62]:
sum(ages)

81

### tuple methods

In [63]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [64]:
ages.index(20)

0

In [65]:
ages.count(20)

1

In [66]:
x,y,z = ages
print(x,y,z)

20 21 40

In [67]:
ages

(20, 21, 40)

In [68]:
a = 1,2,3
a,type(a)

((1, 2, 3), tuple)

In [69]:
for item in ages:
    print(item)

20
21
40

In [70]:
for item in ages[::-1]:
    print(item)

40
21
20

In [71]:
given string is palindrome are not

SyntaxError: invalid syntax (<ipython-input-71-b0a822a13175>, line 1)

## set

In [72]:
s = {1,2,3}
s,type(s)

({1, 2, 3}, set)

In [73]:
set.index[0] # index is not work

AttributeError: type object 'set' has no attribute 'index'

In [ ]:
set[:] # slicing also not work

In [ ]:
len(s)

In [74]:
min(s)

1

In [75]:
max(s)

3

In [76]:
l={1,2,3,4,5,6}
l

{1, 2, 3, 4, 5, 6}

In [77]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [78]:
s.add(10)

In [79]:
s

{1, 2, 3, 10}

In [80]:
s.remove(10)

In [81]:
s

{1, 2, 3}

In [82]:
s.pop()

1

In [83]:
s

{2, 3}

In [84]:
a={1,2,3,4,5}
b={1,4,5,6,}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [85]:
a.intersection(b)

{1, 4, 5}

In [86]:
b.difference(a)

{6}

In [87]:
a,b

({1, 2, 3, 4, 5}, {1, 4, 5, 6})

In [88]:
a.difference_update(b)
a,b

({2, 3}, {1, 4, 5, 6})

In [89]:
c={1}
c

{1}

In [90]:
c.issubset(a),a,c

(False, {2, 3}, {1})

In [91]:
a.isdisjoint(c)

True

In [92]:
a.issuperset(c)

False

In [93]:
names="mahesh ravi balu krish akash raghu"
# print the name which has duplicate characters